@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.cr-plugin-header {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #4f5858;
}

.cr-plugin-description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #4f5858;

}

.cr-plugin-version {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 200;
    color: #d8d2c4;

}

.cr-gridify-cell {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #4f5858;
}

.cr-gridify-column-label {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #3eb1c8;
}

.cr-gridify-row-label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3eb1c8;
}